body {
    --pb-serif-font-family: "Junicode", Georgia, "Times New Roman", serif;
    --pb-content-font-family: var(--pb-serif-font-family);
    --pb-content-font-size: 20px;
    --pb-heading-font-family: "IM Fell English", Verdana, "Helvetica", sans-serif;
}

.menubar a, .menubar paper-menu-button {
    margin: auto 8px;
    display: block;
    font-family: "IM Fell English", Verdana, "Helvetica", sans-serif;

    color: var(--pb-menubar-color);
    text-decoration: none;
}