
~ span.kwic-start, span.kwic-start ~ span.kwic-end{
    display:inline-block;
    background:blue;

}

.kwic-start,.kwic-end{
    position:relative;
}
.kwic-start::after, .kwic-end::after{
    content:"";
    display:inline-block;
    background:yellow;
    position:absolute;
    height:100%;
    width:100%;
    z-index:-2;
    top:0;
    left:0;
    right:0;
    bottom:0;
    line-height:1rem;
    padding:0 2px;
}
.kwic-start::after{
    width:115%;
}
.kwic-end::before{
    margin-left:0;
}
.kwic-current::after, .kwic-current ~ .kwic-end{
    content:"";
    background:orange;
    z-index:-1;
    transition:all 0.6s;
}

